.container{
    display: flex;   
}

.input{
    margin: 2px;
}

.input{
    margin: 15px;
    width: 80px;
    font-family: var(--font-indian); 
    font-weight: bold;         
    color: var(--color-olive); 
    font-size: large;
    border: 1px solid var(--color-olive);    
    border-radius: 4px;    
}

.input::placeholder{
    color: var(--color-olive-transparent);  
    font-size: small;  
}

.input:focus{
    outline: none;
}

.button{
    font-family: var(--font-indian); 
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    width: 50px;
    height: 32px;
    margin: 15px;
    border: none; 
    color: var(--color-olive);  
    border-radius: 4px;
    background: var(--color-olive);
    color: white;
    transition: 0.5s; 
}